@import "tailwindcss";

@theme {
  --color-dark: #121212;
  --color-light: #F2F2F2;
  --color-primary: #8C1C13;
  --color-secondary: #4B3F72;
  --color-textMain: #EAEAEA;
  --color-textSecondary: #B0B0B0;

  --font-playfair: "Playfair Display", serif;
  --font-inter: Inter, sans-serif;
}
